@tailwind base;
@tailwind components;
@tailwind utilities;

.requiredField {
    display: none;
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transition: all 1 ease-out;
}

.visible {
    opacity: 1;
    pointer-events: all;
    transition: all 1 ease-in;
}

input[type="file"] {
    color: rgb(61, 61, 61);
}