{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />

    <script src="{% static 'js/main.js' %}"></script>
    <title>Detail page</title>
  </head>
  <body>
    <div class="flex justify-center items-center">
      <div
        class="flex flex-col gap-4 items-center justify-center mt-10 p-2 bg-cyan-300 rounded shadow-lg sm:p-8 m-4"
      >
        <h1 class="text-sm sm:text-2xl text-custom">Company Report Analyzer</h1>

        <div class="flex items-center flex-col gap-4 w-[100%]">
          <div>
            <p class="my-2"><span class="special-text">Company Report Analyzer</span> is an application that processes a data file in a few clicks and produces the requested reports. To demonstrate the capabilities of this application, I used a test data file and created 8 possible test reports. The test result is of no value at all. But in the real world, the value and potential of this application is limitless. Therefore, I urge you not to look at this application</p>
            <p class="my-2"><span class="special-text">through the prism of a test task...</span></p>
            <p class="my-2">In the real world (if the application is modified and customized to the needs of a specific company), this application will be able to process <span class="special-text">ANY</span> file with company data.</p>
          </div>
          <a
            class="secondary-button sm:p-2 sm:text-sm sm:min-w-[120px] ml-2 text-center"
            href="{% url 'upload_file' %}"
            >Main page</a
          >
        </div>
      </div>
    </div>
    <footer
      class="flex flex-col gap-2 items-center justify-center text-custom mt-4"
    >
      <p class="text-sm text-cstm-blue">
        Made by <span class="text-base">Bilan Mykhailo</span>
      </p>
      <div class="flex flex-col gap-2 items-center justify-center text-xs">
        <a
          class="hover:text-cstm-blue"
          target="_blank"
          rel="noopener noreferrer"
          href="https://linkedin.com/in/mykhailo-bilan"
          >www.linkedin.com/in/mykhailo-bilan</a
        >
        <a
          class="hover:text-cstm-blue"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Belan-Mihail"
          >https://github.com/Belan-Mihail</a
        >
      </div>
    </footer>
  </body>
</html>
