{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />

    <script src="{% static 'js/main.js' %}"></script>
    <title>Detail page</title>
  </head>
  <body>
    <div class="flex justify-center items-center">
      <div
        class="flex flex-col gap-4 items-center justify-center mt-10 p-2 bg-cyan-300 rounded shadow-lg sm:p-8 m-4"
      >
        <h1 class="text-sm sm:text-2xl text-custom">Company Report Analyzer</h1>

        <div class="language-switcher">
          <button class="lang-btn active-lang" id="en-btn" onclick="changeLanguage('en')">EN</button>
          <button class="lang-btn" id="de-btn" onclick="changeLanguage('de')">DE</button>
        </div>

        <div class="flex items-center flex-col gap-4 w-[100%]">
          <!-- English content, shown by default -->
          <div id="content-en" class="mx-4">
            <p class="my-2"><span class="special-text">Company Report Analyzer</span> is an application that processes a data file in a few clicks and produces the requested reports. To demonstrate the capabilities of this application, I used a test data file and created 8 possible test reports. The test result is of no value at all. But in the real world, the value and potential of this application is limitless. Therefore, I urge you not to look at this application</p>
            <p class="my-2"><span class="special-text">through the prism of a test task...</span></p>
            <p class="my-2">In the real world (if the application is modified and customized to the needs of a specific company), this application will be able to process <span class="special-text">ANY</span> file with company data.</p>
            <p class="my-2">And not necessarily just one data file (as shown in the example). When modified, the application can expect and accept any number of files and create any number of desired reports for each type (<span class="special-text">not just 8 as shown in the example</span> ).</p>
            <p class="my-2"><span class="special-text">All Excel files of the company</span> (such as sales reports, comparative reports, activity forecasts, transaction reports, etc.) can be processed and analyzed by the application (subject to its modification) and the results can be not only in the form of pdf files with graphs, but <span class="specila-text">in any format</span> (Excel, CSV, etc.)</p>
            <p class="my-2">
              At the same time,  <span class="special-text">from the user's side,everything will look as elementary</span> as in the test example: a few steps (selecting a file, selecting reports, and clicking on the processing button) and voila. The desired result.
            </p>
            <h2 class="my-4">Let's sum it up: <span class="special-text">What the final stage of the application might look like?</span></h2>
            <ul>
              <li>1. The application accepts any company file (possibly organizes and processes it)</li>
              <li>2. Based on the file content, the application offers a huge number of reports from which the user selects what interests him at the moment</li>
              <li>3. The result is presented in any form that the user needs (pdf, excel, csv)</li>
              <li>4. The user does not need to configure anything and understand the complex logic of the application. A few clicks and the result is in his hands</li>
            </ul>
            <p class="my-2"><span class="special-text">Isn't it wonderful?</span></p>
            <p class="my-2">If you are interested in implementing such an application in your enterprise or you need something similar, please contact me using this email <span class="special-text">m88bilan@gmail.com</span></p>
          </div>

           <!-- German content, initially hidden -->
           <div id="content-de" class="mx-4" style="display: none;">
            <p class="my-2"><span class="special-text">Company Report Analyzer</span> ist eine Anwendung, die eine Datendatei in wenigen Klicks verarbeitet und die angeforderten Berichte erstellt...</p>
            <p class="my-2">In der realen Welt (wenn die Anwendung angepasst und an die Bedürfnisse eines bestimmten Unternehmens angepasst wird) wird diese Anwendung in der Lage sein, <span class="special-text">JEDE</span> Datei mit Unternehmensdaten zu verarbeiten.</p>
            <p class="my-2">Und nicht unbedingt nur eine Datendatei (wie im Beispiel gezeigt). Bei einer Anpassung kann die Anwendung jede Anzahl von Dateien erwarten und akzeptieren und beliebig viele gewünschte Berichte für jeden Typ erstellen.</p>
            <p class="my-2">Alle Excel-Dateien des Unternehmens (wie Verkaufsberichte, Vergleichsberichte, Aktivitätsprognosen, Transaktionsberichte usw.) können von der Anwendung verarbeitet und analysiert werden...</p>
            <p class="my-2"><span class="special-text">Ist das nicht wunderbar?</span></p>
            <p class="my-2">Wenn Sie interessiert sind, eine solche Anwendung in Ihrem Unternehmen zu implementieren oder etwas Ähnliches benötigen, kontaktieren Sie mich bitte unter dieser E-Mail <span class="special-text">m88bilan@gmail.com</span></p>
          </div>
          <a
            class="secondary-button sm:p-2 sm:text-sm sm:min-w-[120px] ml-2 text-center"
            href="{% url 'upload_file' %}"
            >Main page</a
          >
        </div>
      </div>
    </div>
    <footer
      class="flex flex-col gap-2 items-center justify-center text-custom mt-4"
    >
      <p class="text-sm text-cstm-blue">
        Made by <span class="text-base">Bilan Mykhailo</span>
      </p>
      <div class="flex flex-col gap-2 items-center justify-center text-xs">
        <a
          class="hover:text-cstm-blue"
          target="_blank"
          rel="noopener noreferrer"
          href="https://linkedin.com/in/mykhailo-bilan"
          >www.linkedin.com/in/mykhailo-bilan</a
        >
        <a
          class="hover:text-cstm-blue"
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/Belan-Mihail"
          >https://github.com/Belan-Mihail</a
        >
      </div>
    </footer>
  </body>
</html>
