<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <script type="text/javascript">
        window.onload = function() {
            setTimeout(function() {
                // После того как файл будет скачан, перенаправляем на страницу успеха
                window.location.href = '/success';
            }, 5000); // Задержка в 5 секунд, чтобы дать время на скачивание
        }
    </script>
    <h2>{{ success_message }}</h2>
    {% if show_back_button %}
        <a href="{% url 'upload_file' %}" style="margin-top: 20; display: inline-block;"> Back to Home Page</a>
    {% endif %}
</body>
</html>