{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Report Analyzer</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        
        <!-- <label for="input_field" id="inputLabel"></label>-->
         <!-- <input type="file" id="input_field" name="file">   -->

    
        <button type="button" id="select-reports_button">Select reports</button>
        <button type="button" id="cancel_button">Cancel</button>
        <div class="modal" id="modal">
            <div class="modal-content">
            <h3 class="modal-title">Select the required reports</h3> 
            <div class="modal-content">
                <div class="modal-content-inputs">
                    <input type="checkbox" name="reports" value="report1">Report 1
                    <input type="checkbox" name="reports" value="report2">Report 2
                    <input type="checkbox" name="reports" value="report3">Report 3
                    <input type="checkbox" name="reports" value="report4">Report 4
                    <input type="checkbox" name="reports" value="report5">Report 5
                    <input type="checkbox" name="reports" value="report6">Report 6
                    <input type="checkbox" name="reports" value="report7">Report 7
                    <input type="checkbox" name="reports" value="report8">Report 8
                </div>
                <div class="modal-content-form-button">
                    <button type="submit" id="confirm-processing-button">Start processing</button>
                    <button  id="cancel-processing-button" type="button">Cancel processing</button>
                </div>
            </div>
            </div>
        </div> 
    </form>
    
</body>
</html>