{% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Company Report Analyzer</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="{% static 'css/output.css' %}" rel="stylesheet" />

    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="flex flex-col gap-4 items-center justify-center mt-10 p-8">
      <h1 class="text-2xl text-custom">Company Report Analyzer</h1>
      <form
        method="post"
        enctype="multipart/form-data"
        class="bg-cyan-300 rounded p-6 shadow-lg"
      >
        {% csrf_token %} {{ form|crispy }}
        <div class="flex items-center justify-around gap-4 mt-4">
          <button type="button" id="select-reports_button" class="primary-button">Select reports</button>
          <button type="button" id="cancel_button" class="secondary-button">
          Cancel
        </button>
        </div>
        
        <div class="modal hidden" id="modal">
          <div class="modal-content">
            <h3 class="modal-title text-3xl text-cyan-600">
              Select the required reports
            </h3>
            <div class="modal-content">
              <div class="modal-content-inputs">
                <input type="checkbox" name="reports" value="report1" />Sales by
                region
                <input type="checkbox" name="reports" value="report2" />Sales by
                companies
                <input type="checkbox" name="reports" value="report3" />Sales by
                month
                <input type="checkbox" name="reports" value="report4" />Sales
                Distribution
                <input type="checkbox" name="reports" value="report5" />Average
                sales by region
                <input
                  type="checkbox"
                  name="reports"
                  value="report6"
                />Correlation between sales and dates
                <input type="checkbox" name="reports" value="report7" />Sale
                trends by month and region
                <input
                  type="checkbox"
                  name="reports"
                  value="report8"
                />Percentage distribution of sales by region/companies
              </div>
              <div class="modal-content-form-button">
                <button type="submit" id="confirm-processing-button" class="primary-button">
                  Start processing
                </button>
                <button id="cancel-processing-button" type="button" class="secondary-button">
                  Cancel processing
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <footer class="flex flex-col gap-2 items-center justify-center text-custom">
        <p class="text-sm text-cstm-blue">Made by <span class="text-base">Bilan Mykhailo</span></p>
        <div class="flex flex-col gap-2 items-center justify-center text-xs">
            <a class="hover:text-cstm-blue" target="_blank" rel="noopener noreferrer" href="www.linkedin.com/in/mykhailo-bilan">www.linkedin.com/in/mykhailo-bilan</a>
            <a class="hover:text-cstm-blue" target="_blank" rel="noopener noreferrer" href="https://github.com/Belan-Mihail">https://github.com/Belan-Mihail</a>
        </div>
      </footer>
    </div>
  </body>
</html>
